/mapping/
/.idea
/mapping
/mapping/leanbackPythonArm64_v8aPreRelease/
/mapping/leanbackPythonArm64_v8aReslRelease/
/mapping/leanbackPythonArmeabi_v7aPreRelease/
/mapping/leanbackPythonArmeabi_v7aReslRelease/
/mapping/mobilePythonArm64_v8aPreRelease/
/mapping/mobilePythonArm64_v8aReslRelease/
/mapping/mobilePythonArmeabi_v7aPreRelease/
/mapping/mobilePythonArmeabi_v7aReslRelease/
